<!DOCTYPE html>

<html>
 <%- include('./partials/header') %> 
  <body>
    <h1 id="h1-display" class="display-3"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <a type="button" href="./flights">Click Here</a>
    </div>
  </body>
</html><br>

<%- include('./partials/footer') %> 